.form {
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 80%;
    margin: auto;
    transform: translateX(-8px);
}

.textField {
    background-color: #fefefe;
    border: none;
    border-radius: 0.5rem;
    height: 100%;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    width: 40%;
    box-shadow: 0px 5px 10px rgb(218, 218, 218);
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.textField:focus {
    outline: none;
    box-shadow: 0px 3px 5px rgb(218, 218, 218);
}

.textField:hover {
    background-color: rgb(239, 239, 239);
}

.submit-btn {
    height: 100%;
    background-color: rgb(19, 93, 255);
    color: white;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 10px #a8b1ff;
    padding: 0 1rem;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    box-shadow: 0px 3px 5px #7f89e0;
    cursor: pointer;
}

.App-logo {
  height: 35px;
  pointer-events: none;
  animation: App-logo-spin 5s linear infinite;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
} 